<div class="row">
  <div class="col-12">
    <div class="card border-0 rounded shadow">
      <div class="card-body">
        <div phx-hook="Chart" data-historical="<%= @historical_data %>"></div>
          <div phx-update="ignore">
            <div id="chart" style="width:100%; height:400px;" ></div>
          </div>
        <small>Last Update: <%= @last_updated %></small>
      </div>
    </div>
  </div>
</div>