/* This file is for your main application css. */
// @import "./phoenix.css";
@import "../node_modules/bootswatch/dist/lux/variables";
@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../node_modules/bootswatch/dist/lux/bootswatch";
@import "../node_modules/nprogress/nprogress.css";
@import "./variables";
@import "./homepage";
@import "./form";
@import "./dashboard";
@import "./stripe";

* {
  box-sizing: border-box;
}

body {
  width: 100vw;
  min-height: 100vh;
  padding: 0;
  margin: 0;
  background-color: $primary-white;
}

.bg-container {
  width: 100vw;
  height: 100vh;
  background-image: url(/images/memphis-mini.png);
}

.blue-container {
  background-color: $primary-blue;
  padding: $container-padding;
}

.white-container {
  background-color: $primary-white;
  padding: $container-padding;
}

.link-btn {
  display: block;
  text-align: center;
  padding: 0.75rem 2rem;
  color: $primary-white;
  background-color: $secondary-blue;
  border: 0;
  outline: none;
  text-decoration: none;
}

.max-200 {
  max-width: 200px;
}

.link-btn:hover {
  color: $primary-white;
  text-decoration: none;
}

.link-btn:focus {
  outline: none;
}

.text-justify {
  text-align: justify;
}

.text-larger {
  font-size: larger;
}

.ctr-btn {
  color: $secondary-blue;
  cursor: pointer;
}

.border-blue {
  border: 1px solid $secondary-blue;
}

.small-text {
  font-size: small;
}

.clickable:hover {
  cursor: pointer;
  text-decoration: underline;
}

.bg-blue {
  background-color: $secondary-blue;
}

/* LiveView specific classes for your customizations */
.invalid-feedback {
  color: #a94442;
  display: block;
}

.phx-no-feedback.invalid-feedback,
.phx-no-feedback .invalid-feedback {
  display: none;
}

.phx-click-loading {
  opacity: 0.5;
  transition: opacity 1s ease-out;
}

.phx-disconnected {
  cursor: wait;
}
.phx-disconnected * {
  pointer-events: none;
}

.phx-modal {
  opacity: 1 !important;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.phx-modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

.phx-modal-close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.phx-modal-close:hover,
.phx-modal-close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Alerts and form errors */
.alert {
  padding: 15px;
  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;
}
.alert-info {
  color: #31708f;
  background-color: #d9edf7;
  border-color: #bce8f1;
}
.alert-warning {
  color: #8a6d3b;
  background-color: #fcf8e3;
  border-color: #faebcc;
}
.alert-danger {
  color: #a94442;
  background-color: #f2dede;
  border-color: #ebccd1;
}
.alert p {
  margin-bottom: 0;
}
.alert:empty {
  display: none;
}
