.dashboard-container {
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  display: flex;
}

.dash-nav {
  height: 100%;
  width: 288px;
  background-color: $primary-blue;
  transition: 0.5s ease;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  overflow-x: hidden;
  z-index: 3;

  .dash-brand {
    min-width: 288px;
    border-bottom: 1px solid white;
    padding: 1rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .burger {
      width: 25px;
      cursor: pointer;
      transform: rotate(0deg);
      transition: 0.5s ease;
    }

    h5 {
      margin: 0;
      margin-left: 10px;
      color: white;
    }

    .brand {
      display: flex;
      align-items: center;
      opacity: 1;
      transition: 0.5s ease;
    }
  }

  .dash-links {
    min-width: 288px;
    flex-grow: 1;
    padding: 1rem 1.5rem;
  }

  .dash-btn {
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-decoration: none;

      small {
        color: white;
        font-weight: 500;
        padding-right: 2rem;
        opacity: 1;
        transition: 0.5s ease;
      }
    }

  .dash-footer {
    min-width: 288px;
    border-top: 1px solid white;
    padding: 1rem 1.5rem;
  }
}

.dash-nav.expanded {
  width: 72px;

  .dash-brand {
    .burger {
      transform: rotate(180deg);
    }
  }

  .dash-btn {
    small {
      opacity: 0;
      transition: 0.5s ease;
    }
  }
}

.dash-content {
  width: calc(100% - 288px);
  height: 100%;
  transition: 0.5s ease;

  .content {
    width: 100%;
    height: calc(100% - 80px);
    padding: 1rem;
    overflow-y: scroll;
  }
}

.dash-content.expanded {
  width: calc(100% - 72px);
}

.dash-title {
  width: 100%;
  height: 80px;
  background-color: white;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  z-index: 2;

  .page-title {
    display: flex;
    align-items: center;

    h5 {
      margin: 0;
      margin-left: 15px;
    }
  }

  .user-details {
    text-align: right;

    small {
      display: block;
      font-weight: 500;

      span {
        font-weight: 400;
      }
    }
  }
}
