$primary-blue: #21243E;
$secondary-blue: #41487B;
$primary-red: #EF0E0E;
$primary-green: #2DB251;
$primary-grey: #707070;
$primary-white: #FFFFFF;

$container-padding: 3rem 10vw;

$navbar-height: 100px;
$navbar-avoiding-height: calc(100vh - 100px);